---
import type { CollectionEntry } from "astro:content";
import getRelativeTime from "@utils/getRelativeTime";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<a
  href={`/posts/${post.slug}/`}
  class="jk-card bg-[#f4f4f4] rounded-[10px] overflow-hidden cursor-pointer flex flex-col shadow-[0_1px_4px_rgba(0,0,0,0.08)] outline-none"
>
  <div class="px-[13px] py-[11px] flex-1 min-w-0">
    <p
      class="font-display font-bold text-[13px] text-[#151515] mb-1.5 leading-[1.4] line-clamp-2"
    >
      {post.data.title}
    </p>
    <p class="font-sans italic text-[11px] text-[#555] mb-[3px]">
      by {post.data.author}
    </p>
    <p class="font-sans text-[10px] text-[#888] m-0">
      {getRelativeTime(post.data.pubDatetime)}
    </p>
  </div>
</a>
